.container {
    margin-top: 4rem;
    height: 100%;
}

.news {
    margin-bottom: 4rem;
}

.center {
    text-align: center;
}

.col-lg-4 {
    margin-bottom: 4rem;
}

.blog-footer {
    bottom: 0;
    width: 100%;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}
